[DEFAULT]
batchsize = 64
n_classes = 7

[TRAIN_MODEL]
modelname_to_save = EmoBERT_base
test_data = data/emoji_test.pkl
train_data = data/emoji_train.pkl
learning_rate = 2e-5
epochs = 5

[TEST_MODEL]
modelname_to_load = models/finetuned_EmoBERT_base_epoch_3.model
test_data = data/emoji_test.pkl

[PREPROCESSING]
steps: remove_tweets_with_less_than_two_words